*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

.heading{
    margin-top: 10px;
    text-align: center;
}

main{
    margin: 10px 150px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(240, 240, 174);
    display: flex;
    min-height: calc(100vh - 100px);
}

.tabContainer{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 7px;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    width: 800px;
}

.AddTab{
    display: flex;
    gap: 5px;
    min-width: 10px;
}

.dummyTab{
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    min-width: 10px;
    width: 150px;
    max-width: 300px;
    background-color:rgba(243, 243, 196, 0.979);
    cursor: pointer;
    flex-wrap: nowrap;
    flex: 1;
}

.dummyTab:hover{
    background-color:  #cccc9f;
    color: black;
}

.dummyTab span{
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dummyTab button{
    background: transparent;
    font-weight: bold;
    border: none;
    padding: 2px 6px;
    border-radius: 50%;
}

.dummyTab button:hover{
    background-color: rgb(58, 77, 104);
    color: black;
}

.Add-Btn{
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: large;
    padding: 1px 8px;
    border-radius: 50%;
    cursor: pointer;
}

.Add-Btn:hover{
    background-color:  #CACA7E;
    color: black;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 2;
}
.searchResult{
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.features{
    flex: 1;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.history{
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px 5px 10px;
    flex: 2;
    background-color: rgb(202, 202, 126);
    font-size: small;
}
.history h3{
    font-size: medium;
    text-align: center;
}
.shortcutDiv{
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 5px 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.list-closedTab{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 250px;
}
.closedTab{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 2px 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    background-color:  rgb(240, 240, 174);
    color: black;
}
.list-KeyboardShortcut{
    display: flex;
    flex-direction: column;
    background-color: #CACA7E;
    flex: 1;
}
.shortcut{
    background-color:  rgb(240, 240, 174);
    border-radius: 5px;
    font-size: small;
    padding: 5px;
    margin: 2px 5px;
}
.shortcutDiv h4{
    text-align: center;
    font-size: medium;
    padding: 1px;
    background-color: #CACA7E;
}

.genricResult{
    margin-top: 100px;
}
.genricResult_input{
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    font-size: 13px;
}
.genricResult-btn{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    background: transparent;
    font-weight: bold;
    font-size: 13px;
}
.genricResult-btn:hover{
    /* background-color: #236AF2; */
    background-color:  #CACA7E;
    color: black;
}
.noTab{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;

    width: 450px;
    padding: 20px;

    background: white;
    border: 1px solid black;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.noTab button{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 50%;
}
.noTab button:hover{
    background-color: rgba(0,0,0,0.15);
}

.activeTab{
    background-color:  #CACA7E;
    color: black;
}
.activeTab button{
    color: black;
}
.finalResult{
    display: flex;
    flex-direction: column;
    padding: 50px 110px;
    margin: 50px 70px;
    border-radius: 20px;
    background-color: #FFA116;
    gap: 20px;
    color: black;
}
.resultHead{
    color: black;
    flex: 1;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}
.resultHead a{
    color: black;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}
.result-description{
    color: black;
    flex: 1;
    font-size: large;
}
.result-features{
    color: black;
    flex: 2;
    display: flex;
    gap: 10px;
}
.result-features h4{
    color: black;
    font-size: larger;
}
.result-features ul{
    color: black;
    list-style: none;
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
